html {
  height: 100%;
  width: 100%;
}

#typing-animation {
  font-size: 20px;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid orange;
}

/* Animation for typing cursor */
#typing-animation:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 1.1em;
  vertical-align: bottom;
  animation: blink .75s step-end infinite;
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
